extends layout

block content
    nav.navbar.navbar-custom.zurui-shadow.menu.navbar-fixed-top(role='navigation')
      .container
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            //li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#aboutme') About me 
            li.page-scroll
              a(href='#works') Make 
          //.navbar-collapse
      // /.container
    section.intro
      .intro-body
        .container
          .row
            .col-md-1
              h1.brand-heading.zurui-shadow hariganet
    .space
    section#aboutme.container.content-section
      .row
        .col-md-6
          h2 About me 
          p 
            | 絵画や造形などのアナログな制作と電子工作、プログラミングなどのデジタルな制作の好きなエンジニアです。
          p
            | 主にopenFrameworks, OpenCV, Node.jsで開発してます。
            br
            | 特にコンピュータの低レイヤーなところを触れるC++が好きです。 
          p
            | デジタル技術による制作だけでなく、粘土細工や金属細工、ねぷた制作といった現実での立体的な美術制作が好きで、デジタルとアナログを組み合わせた表現を模索してます。
          p
            | このサイトはBootstrap 3とNode.js, expresでできています。
        .col-md-2
        .col-md-4
          .skill-board
            p スキル
            a(href="#",data-toggle="tooltip",title="openFrameworks")
              img(src="img/logo/of_logo.jpg")     
            a(href="#",data-toggle="tooltip",title="OpenCV")
              img(src="img/logo/opencv_logo.jpg")     
            a(href="#",data-toggle="tooltip",title="Arduino")
              img(src="img/logo/arduino_logo.jpg")     
            a(href="#",data-toggle="tooltip",title="Node.js")
              img(src="img/logo/nodejs_logo.jpg")     
            a(href="#",data-toggle="tooltip",title="HTML5")
              img(src="img/logo/html5_logo.jpg")     
    .space
    section#works.content-section
      .container
        .row
          .col-md-8
            h2 Make 作った物たち
      .space
      .container
        .row
          .col-md-8.text-center
            .portfolio-item
              .movieparent
                .movie
                  iframe(src="http://www.youtube.com/embed/iErF-rso-iM",frameborder="0",allowfullscreen)
          .col-md-4
            p.works-name レーザーハープ (2014/3)
            p
              | レーザーで形作られた光の弦を触るとドレミの音が鳴って、演奏ができる光のハープです。
            p
              | Max及びArduinoにて制作
    .space
     section.content-section
      .container
        .row
          .col-md-8.text-center
            .portfolio-item
              .movieparent
                .movie
                  iframe(src="http://www.youtube.com/embed/gD03VMqymyk",frameborder="0",allowfullscreen)
          .col-md-4
            p.works-name 光の玉のAR遊び (2014/2)
            p
              | 画面上をふわふわ舞う光の玉を手や体で動かして遊ぶことのできるARアプリです。
              | PCアプリとスマホアプリで連携しており、スマホのタッチ操作の軌跡に沿って、画面に黄色い光を降らすことができます。
            p
              | 自作の動作検知アルゴリズムをOpenCVで開発し, openFrameworksで制作。スマホ側はWebアプリで制作し、サーバーにNode.jsを使用
    .space
    section.content-section
      .container
        .row
          .col-md-8
            //img.loading(src="img/others/indicator.gif")
            .wrapper
              .img-container#neputa
          .col-md-4
            .img-message
              p.works-name ねぷた制作 (2012/8 ~ 2012/11)
              p
                | 大阪府内にて青森県の伝統行事『立ちねぷた』を再現する制作展示を行いました。 
              p 
                | 日常の景観や自然の中で、道行く人々の手作業で巨大建造物が出来上がっていくという空間や体験を演出したくて
                | 自身の出身大学とかけ合い、人通りの多い大学内の芝生広場を制作環境として借り受け、広報・告知を実施しました。
                | ねぷた制作の作業の中には、ねぷたの表面に紙を張るといった気軽に参加可能な軽作業もあり、人通りの多い作業場周辺で、
                | 道行く人に声をかけ一緒に紙を張って貰い、制作体験を共有して貰うことで同時に口コミによる宣伝を狙いました。
                | 展示当日は子供からお年寄りまで多数の方が見に来られ、一緒に記念写真を取るなどの形で楽しんで下さいました。 

    .space
    section.content-section
      .container
        .row
          .col-md-8
            //img.loading(src="img/others/indicator.gif")
            .wrapper
              .img-container#wireworks
          .col-md-4
            .img-message
              p.works-name 針金細工 (2007/3 ~ 現在まで)
              p
                | 平面の紙に線を引くのではなくて、空間に3Dの線を引くことで立体的な絵を描きたくて、
                | 針金を固定することで立体的な線が描ける針金細工をはじめました。
                | また作品に線画の雰囲気を持たせることで針金細工の影も一つの絵として楽しめるように制作しています。
                | 主に動物などの線画を針金で立体的に作っています。
    .space
    // Footer
    footer.content-section
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            hr
            p Copyright &copy; hariganet 2013
    // /Footer
    // Core JavaScript Files
    script(src='js/jquery-1.10.2.min.js')
    script(src='js/bootstrap-3.0.3.min.js')
    script(src='js/jquery-1.3.easing.min.js')
    script(src='js/imgloader.js')
    script(src='js/fitter.js')
    script(src='js/fadechanger.js')
    script(src='js/transition.js')
    // Custom Theme JavaScript
    script(src='js/hariganet.js')
