doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title hariganet 
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Fonts
    link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    // Custom Theme CSS
    link(href='css/hariganet.css', rel='stylesheet')
  body#page-top(data-spy='scroll', data-target='.navbar-custom')
    block content
